---
import '../styles/global.css';

import Post from '../components/Post.astro';

const pageTitle = "vic.fail";
const identity = {
	firstName: "Víctor",
	lastName: "Peña Romero",
	description: "\\{^_^}/ ¡Hey, soy vic! Desarrollador { JS } y educador.",
	country: "México",
};

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="titles">
			<h1>{pageTitle}</h1>
			<h2>{identity.firstName} {identity.lastName}</h2>
		</div>
		<p>{identity.description}</p>
		<div>
			<p>{identity.country}</p>
		</div>
		<ul>
			{allPosts.map((post) => (
				<li><Post post={post} content={post.compiledContent()}/></li>
			))}
		</ul>
	</body>
</html>
