---
import '../styles/global.css';

import Header from '../components/Header.astro';
import Tweet from '../components/Tweet.astro';

const siteTitle = "vic.fail";
const identity = {
	firstName: "Víctor",
	lastName: "Peña Romero",
	description: "\\{^_^}/ Desarrollador { JS } y educador.",
	country: "México",
};

const allTweets = await Astro.glob("../content/tweets/*.md");
const parsedTweets = allTweets.map((tweet) => ({
	...tweet,
	date: new Date(tweet.frontmatter.date),
}));
const sortedTweets = parsedTweets.sort((a, b) => b.date - a.date);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteTitle}</title>
	</head>
	<body>
		<Header
			siteTitle={siteTitle}
			identity={identity}
		/>
		<ul class="nest">
			{sortedTweets.map((tweet) => (
				<li><Tweet tweet={tweet}/></li>
			))}
		</ul>
	</body>
</html>

<style>
	.nest {
		list-style: none;
		display: flex;
		flex-direction: column;
	}
</style>